<div class="container mt-5" *ngIf="!showSignInPage">
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-header">
            <h2 class="text-center">Forget Password</h2>
        </div>
        <div class="card-body">
            <h2 class="card-title">RESET</h2>
            <div class="mb-3">
                <p>Enter your email address to reset password</p>
                <input type="email" [(ngModel)]="email" required>
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Reset Password</button>
        </div>
    </div>
    <div class="card-footer text-center">
        <a routerLink="/signin" (click)="clickSignIn()">Go to Sign-in</a>
    </div>
</div>
<app-sign-in *ngIf="showSignInPage"></app-sign-in>