<div class="background">
    <div class="content">
        <img [routerLink]="'dashboard'" class="logo" src="assets/images/logo.png">
        <h2 style="margin-top: 50%;">WELCOME</h2>
        <p>We deals all over UAE.</p>
        <p>Toll-free # 111-111-111</p>
        <p>Zone Delivery Services<br>Dubai, UAE.</p>
        <button [routerLink]="'/dashboard'" class="btn btn-primary mt-3">Products Dashboard</button>
    </div>
    <div class="footer mb-1">
        <span>All rights reserved <strong> &copy; </strong> 2024</span>
    </div>
</div>